/*resetear*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    min-width: 375px;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content:end;
    align-items: center;
    background-color:#1a805b;
    font-weight: 800;
    width: 100%;
    padding: 1rem 2rem;
}


nav>div>label>img {
    width: 60px;
}

input#menu-hamburguesa{
    visibility: hidden;
}

.opciones{
    padding: 0.3rem 0;
    margin-left: 2rem;
}    
input#menu-hamburguesa~ul{
    position: absolute;
    z-index: 50;
    background-color:#1a805b;
    width: 100%;
    list-style: none;
    color: white;
    height: 20%;
    position: absolute;
    right: 100%;
    transition: all 300ms linear;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0;
}


.seccion_uno{
    position: absolute;
    top: 95px;
    left: 0px;
    z-index: 20;   
    width: 100%;
    height: 180vh;
    justify-content: center;
    text-align: center;
} 
.img_fondo{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0;
}


.seccion_uno--inicio{
    position: absolute;
    top: -50px;
    left: calc((100% - 300px)/2); 
    z-index: 10;    
    padding-top: 100px;   
}
.seccion_uno--nombre{
    display: flex;
    justify-content: center;
    color:#ee9918;
    font-size: 48px;/**/
}

.seccion_uno--soy{
    color: white;
    font-size: 36px;
    margin-right: 20px;
}

.seccion_uno--miNombre{
    color:#ee9918;
    font-size: 36px;
}

.seccion_uno--queHago {
    color: white;
    font-size: 32px;
    padding-top: 2rem;
}

.mifoto{
    width: 150px;
    margin-top: 80px;
    border: 0px solid black;
    border-radius: 40px;
}

.linkedin{
    position: absolute;
    z-index: 30;
    bottom: 0px;
    left: calc(50% - 170px); 
    background-color: white;
    width: 60px;
    padding: 5px;
    border: 0px solid black;
    border-radius: 50%;
}
.instagram{
    position: absolute;
    bottom: -80px;
    z-index: 40;
    left: calc(50% - 30px); 
    background-color: white;
    width: 60px;
    padding: 5px;
    border: 0px solid black;
    border-radius: 50%;
}
.twitter{
    position: absolute;
    bottom: 0px;
    z-index: 50;
    right: calc(50% - 160px); 
    background-color: white;
    width: 60px;
    padding: 5px;
    border: 0px solid black;
    border-radius: 50%;
}

.experiencia1{
    position: absolute;
    z-index: 60;
    bottom: 240px;
    left: -40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0px solid white;
    border-radius: 40px;
    padding: 0.5rem;
    width: 120px;
}

.experiencia2{
    position: absolute;
    z-index: 60;
    bottom: 210px;
    right: -10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0px solid white;
    border-radius: 40px;
    padding: 0.5rem;
    width: 120px;
}

.tiempo_naranja{
    color: #ee9918;
    font-weight: 800;
}


.contenedor_gustaria{
    position: absolute;
    z-index: 70;
    top: 560px;
    left: 20%;
    width: 60%;
    height: 110px;
    justify-content: center;
    text-align: center;
    background-color: #d2f3cd;
    align-items: center;
} 

.p-padding{
    padding: 1rem 0;
}
.input_text{
    width: 40%;
    height: 30px;
    background-color:white
}

.boton{
    width: 30%;
    height: 30px;
    background-color: #1a805b;
    border: 0px solid white;
    border-radius: 15px;
    color: white;
}

.acerca{
    position: absolute;
    z-index: 70;
    bottom: -1200px;
    left: 15%;
    width: 70%;
    height:auto;
    justify-content: center;
    text-align: center;
    background-color:white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.p-titulo{
    font-size: 48px;
    margin: 3rem;
}
.p-texto{
    border-left: 15px solid #1a805b;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: justify;
    font-size: 1rem;
    padding: 1rem 2rem ;
}

.b-verde{
    width: 150px;
    height: 40px;
    background-color: #1a805b;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: 0px solid black;
    border-radius: 20px;
    color: white;
    margin: 2rem;
}

.img_logo{
    width: 70px;
    height: 89.5px;
    margin: 1rem;
}

.contenedor_final_logos{
    display: flex;
    flex-direction: column;
}
.contenedor_logos{
    display: flex;
    flex-direction: row;
}
.contenedor_logo{
    background-color:#d2f3cd;
    width: 170px;
    height: 170px;
    margin: 0.1rem;
}

.p-texto_curso{
    text-align:center;
    font-size: 0.60rem;
    font-weight: 600;
}
.p-periodo{
    text-align:center;
    font-size: 0.5rem;
    font-weight: 400;
}

/* primera */
.nombre_habilidad{
    position: absolute;

}
.barra1{
    position:absolute;
    z-index: 20;
    width: calc(300*0.8px);
    height: 10px;
    background-color: #1a805b;
    border: 1px solid black;
    border-radius: 5px;
    top: 0;
    left: -175px;
}

.barra2{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 10px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    top: 0;
    left: -calc((100% - 300px)/2);
    left: -175px;
}

.hab1{
    position: absolute;
    z-index: 10;
    top: -20px;
    left: -175px;
}
.porc1{
    position: absolute;
    z-index: 10;
    top: -20px;
    left: calc(-175px + 300*0.8px);
}

/*segunda*/
.nombre_habilidad2{
    position: absolute;
}
.barra3{
    position:absolute;
    z-index: 20;
    width: calc(300*0.9px);
    height: 10px;
    background-color: #1a805b;
    border: 1px solid black;
    border-radius: 5px;
    top: 50px;
    left: -175px;
}

.barra4{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 10px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    top: 50px;
    left: -175px;
}

.hab2{
    position: absolute;
    z-index: 10;
    top: 30px;
    left: -175px;
}
.porc2{
    position: absolute;
    z-index: 10;
    top: 30px;
    left: calc(-175px + 300*0.9px);
}

/* tercero*/
.nombre_habilidad3{
    position: absolute;
}
.barra5{
    position:absolute;
    z-index: 20;
    width: calc(300*0.7px);
    height: 10px;
    background-color: #1a805b;
    border: 1px solid black;
    border-radius: 5px;
    top: 100px;
    left: -175px;
}

.barra6{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 10px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    top: 100px;
    left: -175px;
}

.hab3{
    position: absolute;
    z-index: 10;
    top: 80px;
    left: -175px;
}
.porc3{
    position: absolute;
    z-index: 10;
    top: 80px;
    left: calc(-175px + 300*0.7px);
}

/*cuarto*/
.nombre_habilidad4{
    position: absolute;
}
.barra7{
    position:absolute;
    z-index: 20;
    width: calc(300*0.8px);
    height: 10px;
    background-color: #1a805b;
    border: 1px solid black;
    border-radius: 5px;
    top: 150px;
    left: -175px;
}

.barra8{
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 10px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    top: 150px;
    left: -175px;
}

.hab4{
    position: absolute;
    z-index: 10;
    top: 130px;
    left: -175px;
}
.porc4{
    position: absolute;
    z-index: 10;
    top: 130px;
    left: calc(-175px + 300*0.8px);
}

.Experiencia{
    position: absolute;
    top: 1900px;
    left:5%;
    z-index: 30;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 250px;
}
.Portafolio{
    position: absolute;
    top: 2200px;
    left:0%;
    z-index: 30;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
}
.Contacto{
    position: absolute;
    top: 2500px;
    left:4%;
    z-index: 30;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 250px;
    
}

.contenedor-img-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-titulo-exp{
    font-size: 28px;
    margin: 2rem;
    text-align: center;
}

.contenedor-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.cont_logo_exp{
    width: 70px;
    height: 70px;
    /*border: 1px solid grey;*/
}

.cont_logo_exp>img{
    width: 60px;
    height: 60px;
}

@media only screen and ( min-width:600px ) {
    .seccion_uno--inicio{
        top: 40px;
        left: calc(50% - 175px); 
    }
    .seccion_uno--soy{
        font-size: 48px;
    }
    
    .seccion_uno--miNombre{
        font-size: 48px;
    }
    
    .seccion_uno--queHago {
        font-size: 48px;
    }
    .mifoto{
        width: 330px;
    }
    .linkedin{
        left: calc(50% - 250px); 
        width: 80px;
        padding: 5px;
        border: 0px solid black;
        border-radius: 50%;
    }
    .instagram{
        bottom: -120px;
        left: calc(50% - 50px); 
        width: 80px;
    }
    .twitter{
        right: calc(50% - 250px); 
        width: 80px;
    }    
    .experiencia1{
        bottom: 250px;
        left: -120px;
        width: 150px;
    }
    
    .experiencia2{
        bottom: 150px;
        right: -140px;
        width: 150px;
    }
    .contenedor_gustaria{
        top: 880px;
    }     
    .acerca{
        bottom: -1350px;
    }
    .barra1{
        width: calc(400*0.8px);
        left: -175px;
        left: calc((100% - 400px)/2);
    }
    
    .barra2{
        width: 400px;
        left: -calc((100% - 400px)/2);
    }
    
    .hab1{
        position: absolute;
        z-index: 10;
        top: -20px;
        left: calc((100% - 400px)/2);
    }
    .porc1{
        left: calc((100% - 400px)/2 + 400*0.8px);
    }
    .barra3{
        width: calc(400*0.9px);
        left: calc((100% - 400px)/2);
    }
    
    .barra4{
        width: 400px;
        left: calc((100% - 400px)/2);
    }
    
    .hab2{
        left: calc((100% - 400px)/2);
    }
    .porc2{
        left: calc((100% - 400px)/2 + 400*0.9px);
    }
    
    .barra5{
        width: calc(400*0.7px);
        left: calc((100% - 400px)/2);
    }
    
    .barra6{
        width: 400px;
        left: calc((100% - 400px)/2);
    }
    
    .hab3{
        left: calc((100% - 400px)/2);
    }
    .porc3{
        left: calc((100% - 400px)/2 + 400*0.7px);
    }
    
    .barra7{
        width: calc(400*0.8px);
        left: calc((100% - 400px)/2);
    }
    
    .barra8{
        width: 400px;
        left: -175px;
        left: calc((100% - 400px)/2);
    }
    
    .hab4{
        left: calc((100% - 400px)/2);
    }
    .porc4{
        left: calc((100% - 400px)/2 + 400*0.8px);
    }
}

@media only screen and ( min-width:700px ) {
    label{
        display: none;
    }

    input#menu-hamburguesa~ul{
        position: static;
        background-color: transparent;
        display: flex;
    }

    input#menu-hamburguesa~ul>li{
        padding: 0 1rem;
    }
    .opciones{
        margin-left: 0;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .seccion_uno{
        top: 65px;
    } 
    

    .Experiencia{
        top: 1500px;
    }
    .Portafolio{
        top: 1800px;
    }
    .seccion_uno--inicio{
        top: 70px;        
    }
    .mifoto{
        margin-top: 130px;
    }
    .contenedor_gustaria{
        top: 1010px;
        left: 20%;
    }
    .Contacto{
        top: 2100px;
    }

    .contenedor_logos{
       flex-direction:row;
    }

}

@media only screen and ( min-width:800px ) {
    .opciones{
        margin-left: 0;
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .seccion_uno{
        top: 65px;
    } 
    

    .Experiencia{
        top: 1450px;
    }
    .Portafolio{
        top: 1800px;
    }
    .seccion_uno--inicio{
        top: 100px;        
    }
    .mifoto{
        margin-top: 130px;
    }
    .contenedor_gustaria{
        top: 1150px;
        left: 20%;
    }

    .acerca{
        bottom: -1500px;
    }

    
    .Contacto{
        top: 2100px;
    }

}

@media only screen and ( min-width:850px ) {
    .opciones{
        margin-left: 0;
        margin-left: 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .seccion_uno--inicio{
        top: 120px;        
    }
    .seccion_dos{
        bottom: -850px;
    } 
    .contenedor_gustaria{
        top: 1220px;
        left: 20%;
    }

    .acerca{
        bottom: -1550px;
    }
    .mifoto{
        margin-top: 190px;
    }
}

@media only screen and ( min-width:900px ) {
    .opciones{
        margin-left: 0;
        margin-left: 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .seccion_uno--inicio{
        top: 150px;        
    }
    .seccion_dos{
        bottom: -850px;
    } 
    .contenedor_gustaria{
        top: 1300px;
        left: 20%;
    }

    .acerca{
        bottom: -1650px;
    }
    .mifoto{
        margin-top: 190px;
    }
}

@media only screen and ( min-width:1000px ) {
    .opciones{
        margin-left: 0;
        margin-left: 0.5rem;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .seccion_uno--inicio{
        top: 200px;        
    }
    .seccion_dos{
        bottom: -850px;
    } 
    .contenedor_gustaria{
        top: 1450px;
        left: 20%;
    }

    .acerca{
        bottom: -1800px;
    }
    .mifoto{
        margin-top: 190px;
    }
}
@media only screen and ( min-width:1100px ) {
    .seccion_uno--inicio{
        top: 250px;        
    }
    .seccion_dos{
        bottom: -850px;
    } 
    .contenedor_gustaria{
        top: 1600px;
        left: 20%;
    }

    .acerca{
        bottom: -1900px;
    }
    .mifoto{
        margin-top: 190px;
    }
}

@media only screen and ( min-width:1200px ) {
    .seccion_uno--inicio{
        top: 320px;        
    }
    .seccion_dos{
        bottom: -850px;
    } 
    .contenedor_gustaria{
        top: 1800px;
        left: 20%;
    }

    .acerca{
        bottom: -2000px;
    }
    .mifoto{
        margin-top: 190px;
    }
}
